@charset "UTF-8";

.container {
	max-width: 85%
}

.card {
	max-width: 100%;
}

.card h1 {
	margin: 0px 0px 16px 0px;
}

table, th, td {
	border: 1px solid black;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

tr:hover {
	background-color: rgba(139, 143, 208, 0.1);
}

td .btn{
	width: 90%;
	padding: 5px 10px; 
	font-size: 14px;
}

#deleteBtn {
	background-color: #D12335;
	margin-bottom: 10px;
}

#deleteBtn:hover {
	background-color: rgba(243, 117, 130, 1);
}

#addBtn {
	width: auto;
}

/* orders.jsp */

#filterForm {
	margin-bottom: 20px;
	display: flex;
	gap: 16px;
	align-items: flex-end;
	flex-wrap: wrap;
}

.form-group {
	margin-bottom: 0;
}

#resetBtn {
	background-color: #8B8FD0;
	height: 43.2px;
	width: auto;
}

#resetBtn:hover {
	background-color: rgba(193, 195, 237, 1);
}

#filterBtn {
	width: auto;
}

#utenteId {
	max-width: 365px;
}

.buttonGroup {
	display: flex;
	gap: 8px;
	margin-left: auto;
}

.orderInfo{
	background-color: #f4f4f4;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.dettaglioOrdine {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

#tabellaDettagli td {
	padding: 5px;
}